<!DOCTYPE html>
<html lang="en">
  {{> head }}

  <body>
    {{> navigation }}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog</h1>
              <span class="subheading">Home Improvement, Saving Money</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{#each pages }}
            <div class="post-preview">
              <a href="{{ url }}">
                <h2 class="post-title">
                  {{ title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ subtitle }}
                </h3>
              </a>
              <p class="post-meta">Posted by <a href="#">{{ author }}</a> on {{ date }}</p>
          </div>
          <hr>
          {{/each}} 
          {{!-- <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
          </div> --}}
        </div>
      </div>
    </div>

    {{> footer }}

    {{> scripts }}
  </body>
</html>